@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.read-more-hover:hover .arrow-icon {
  transform: translateX(10px); /* Moves the arrow to the right */
  transition: transform 0.3s ease-in-out;
}

.read-more-hover:hover .read-more-text {
  display: block;
  transition: display 0.3s ease-in-out;
}

.arrow-icon {
  transition: transform 0.3s ease-in-out;
}

.read-more-text {
  display: none;
  color: white; /* Adjust the color as needed */
  margin-left: 10px; /* Space between the arrow and text */
}
